In [57]:
%autosave 120

Autosaving every 120 seconds

# Functions
#### Write some reusable functions. Examples would be date, time, number, text formatting.
#### Pandas functions that delete or create columns rows.

# Date Function

### Now:

In [2]:
from datetime import date
from datetime import time
from datetime import datetime


def current_date():
    Now = str(datetime.now())
    Time = str(datetime.time(datetime.now()))
    return(Now)#, Time)

current_date()

#or easier to do

#from datetime import datetime
#str(datetime.now())

'2020-11-05 20:25:35.695968'

# Calculate days in past

- Need to create a difference between dates calculator

In [3]:
import datetime

add = ['add', 'ad', '+', 'plus', 'a']
sub = ['sub', 'su', '-', 'minus', 's', 'subt', 'subtr', 'subtra', 'subtrac', 'subtract']
combo = add + sub

def Calc_Days():
    add_sub = input('Add or subtract days? ')
    while add_sub not in combo:
        add_sub = input('Add or subtract days? ')
        
    while True:
        try:
            how = int(input('How many days? '))
            break
        except ValueError:
            continue   
        
    
    Now = date.today()
    if add_sub.lower() in sub:
        Days = Now.toordinal() - how
        final = datetime.date.fromordinal(Days)
        final = final.strftime("%m/%d/%y")
    elif add_sub.lower() in add:
        Days = Now.toordinal() + how
        final = datetime.date.fromordinal(Days)
        final = final.strftime("%m/%d/%y")
    return(final)

Calc_Days()

Add or subtract days? add
How many days? 15

'11/20/20'

# Delete/Remove rows or columns

#### Syntax:
    DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors=’raise’)

#### Parameters:

   - labels: String or list of strings referring row or column name.
   - axis: int or string value, 0 ‘index’ for Rows and 1 ‘columns’ for Columns.
   - index or columns: Single label or list. index or columns are an alternative to axis and cannot be used 
    together.
   - level: Used to specify level in case data frame is having multiple level index.
   - inplace: Makes changes in original Data Frame if True.
   - errors: Ignores error if any value from the list doesn’t exists and drops rest of the values when errors = ‘ignore’

    Return type: Dataframe with dropped values

In [1]:
#Rows
# importing pandas module 
import pandas as pd 
  
# making data frame from csv file 
data = pd.read_csv("nba.csv", index_col ="Name" ) 
  
# dropping passed values Names are the Index values from this example
data.drop(["Avery Bradley", "John Holland", "R.J. Hunter", 
                            "R.J. Hunter"], inplace = True) 
  
# display 
data

In [ ]:
#Columns
# importing pandas module 
import pandas as pd 
  
# making data frame from csv file 
data = pd.read_csv("nba.csv", index_col ="Name" ) 
  
# dropping passed columns. Team and Weight are column names in this example.
# Specify Axis = 1 to indicate that we are dropping columns
data.drop(["Team", "Weight"], axis = 1, inplace = True) 
  
# display 
data

# Add Columns

### Add new column from a list (adds to end)

In [ ]:
#Note that the length of your list should match the length of the index column otherwise it will show an error.

# Import pandas package  
import pandas as pd 
  
# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 
  
# Declare a list that is to be converted into a column 
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna'] 
  
# Using 'Address' as the column name 
# and equating it to the list 
df['Address'] = address 
  
# Observe the result 
df

## Add using DataFrame.insert()

In [ ]:
#It gives the freedom to add a column at any position we like and not just at the end. 
#It also provides different options for inserting the column values.

# Import pandas package  
import pandas as pd 
  
# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 
  
# Using DataFrame.insert() to add a column 
df.insert(2, "Age", [21, 23, 24, 21], True) 
  
# Observe the result 
df

## Add using DataFrame.assign()

In [ ]:
#This method will create a new dataframe with new column added to the old dataframe.

# Import pandas package  
import pandas as pd 
   
# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 
   
   
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 
  
# Using 'Address' as the column name and equating it to the list 
df2 = df.assign(address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']) 
   
# Observe the result 
df2

## Add using a Dictionary

In [ ]:
#We can use a Python dictionary to add a new column in pandas DataFrame. 
#Use an existing column as the key values and their respective values 
#will be the values for new column. 


# Import pandas package  
import pandas as pd 
  
# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 
  
# Define a dictionary with key values of 
# an existing column and their respective 
# value pairs as the # values for our new column. 
address = {'Delhi': 'Jai', 'Bangalore': 'Princi', 
           'Patna': 'Gaurav', 'Chennai': 'Anuj'} 
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 
  
# Provide 'Address' as the column name 
df['Address'] = address 
  
# Observe the output 
df

# Convert np array to pd dataframe

In [ ]:
#Convert Numpy array to dataframe
X = pd.DataFrame(data=X[1:,1:],    # values
              index=X[1:,0],    # 1st column as index
              columns=X[0,1:])

# Add columns for current date and datetime

In [ ]:
#Add Columns for Current Date and DateTime

from datetime import datetime
from datetime import date

currentDTTM = str(datetime.now())
currentDate = date.today().strftime("%m/%d/%y")

X_train['Run_Date']= currentDate
X_train['Date_Time']= currentDTTM

# Transforming Data Using a Function or Mapping

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [ ]:
lowercased = data['food'].str.lower()
lowercased
data['animal'] = lowercased.map(meat_to_animal)
data

In [ ]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

# Regex

In [2]:
import re
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [3]:
def extract_email(text):
    return regex.findall(text)

extract_email(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [4]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED